<div class="wrap">
  <div class="keys">
    <div class="key" [ngClass]="{'playing': isPlay&&code===65}">
      <kbd>A</kbd>
      <span class="sound">clap</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===83}">
      <kbd>S</kbd>
      <span class="sound">hihat</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===68}">
      <kbd>D</kbd>
      <span class="sound">kick</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===70}">
      <kbd>F</kbd>
      <span class="sound">openhat</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===71}">
      <kbd>G</kbd>
      <span class="sound">boom</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===72}">
      <kbd>H</kbd>
      <span class="sound">ride</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===74}">
      <kbd>J</kbd>
      <span class="sound">snare</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===75}">
      <kbd>K</kbd>
      <span class="sound">tom</span>
    </div>
    <div class="key" [ngClass]="{'playing': isPlay&&code===76}">
      <kbd>L</kbd>
      <span class="sound">tink</span>
    </div>
  </div>
</div>
